# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
*.env

# Notebooks
.ipynb_checkpoints/

# Data
data/*

# VSCode
.vscode/

# Docker
*.log

*.DS_Store

# KG Experiment / PyVis
notebooks/kg_experiment/lib/
notebooks/**/*.html
lib/

# Script outputs
output/